@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/fonts';

.dropdown-container{
    display: block;
    position: absolute;
    top: 9.8vh;
    right: 0;
    z-index: 2;
    background-color: $primary;
    height: 50vh;
    width: 300px;
    border-radius: 0 0 0 25%;
    
    

    & .header-links-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 80%;
    }
}




@media (min-width: 1000px){
    .dropdown-container{
        display: none;
    }
}
