@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/fonts';

.project-body-styling{
    background-color: $primary;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .project-container-title{
        font-size: $lg-txt;
        font-weight: $heavy-weight;
        color: $dark;
        margin-top: 1rem;
        margin-bottom: 9.5rem;
        z-index: 5;
    }

   & .oval {
        width: 150vw;
        height: 26.88rem;
        position: absolute;
        background-color:$light;
        transform: rotate(-5deg);
    }

    & .oval-one {
        top: -19rem;
    }

    & .oval-two {
        bottom: -19rem;
    }


    & .project-one-styling {
        color: $light;

        & .project-url a, 
        & .project-code a{
            color: $light;
        }
    }

    @media screen and (min-width: 1000px){
        .project-container-title{
            padding-top: 5rem;
            font-size: 60px;
            color: $light;
            margin-bottom: 5rem;
        }
    }
    @media screen and (min-width: 1200px){
        .project-container-title{
            margin-bottom: 0rem;
        }
    }
}



