@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/fonts';

.education-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2em 36px;
    min-height: 100vh;
    color: $dark;
    margin-bottom: 4rem;

     & .blue-box {
        width: 300px;
        height: 400px;
        background-color: $primary;
        position: absolute;
        top: -2rem;
    }

    .blue-box-left{
        left: -3rem;
    }

    .blue-box-right{
        right: -3rem;
    }

    .circle-right {
        width: 150%;
        height: 100%;
        right: 0rem;
        border-radius: 0 50% 0 0;
        position: absolute;
        background-color: $light;
        z-index: 0;
    }

    .circle-left {
        width: 150%;
        height: 100%;
        border-radius: 50% 0 0 0;
        background-color: $light;
        z-index: 0;
    }



    & .udemy-logo-container{
        width: 80vw;
        z-index: 1;

        & .udemy-logo {
            width: 90px;
            height: auto;
            margin-bottom: 30px;
        }


        @media screen and (min-width: 800px){
            .udemy-logo{
                width: 150px;
                margin-bottom: 3rem;
            }
        }  
    }

    @media screen and (max-width: 799px){
        .blue-box-left{
            display: none;
        }
    
        .blue-box-right{
            display: none;
        }
    
        .circle-right {
            display: none;
        }
    
        .circle-left {
            display: none;
        }
    }

    @media screen and (min-width: 800px){
        .udemy-logo-container{
            width: 80vw;
            }
    }
    
    & .education-section-title{
        font-size: $lg-txt;
        font-weight: $heavy-weight;
        color: $dark;
        margin: 3rem 0rem 4rem 0rem;  
        z-index: 1;
    }

    @media screen and (min-width: 1000px){
        .education-section-title{
            font-size: 60px;
        }
    }
}
