.skills-body-styling{
    background-color: #1D86FF;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;

    & .skills-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0px 36px;
        min-height: 100vh;

        & .skills-title {
            color: white;
            font-size: 30px;
            font-weight: 900;
            margin-bottom: 5rem;
        }
    }
}