.introduction-container{
    display: flex;
    align-items: center;
    margin: 0em 36px;
    height: 110vh;

    & .introduction-message {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 450px){
        .introduction-message{
            width: 525px;
            margin-left: 15vw;
            margin-right: 15vw;
        }
    }

    @media (min-width: 1000px){
        .introduction-message{
            width: 525px;
            margin-left: 5vw;
            margin-right: 15vw;
        }
        .headshot{
            position: absolute;
            margin-top: 3rem;
            top: 0;
            right: -20vw;
            height: 135vh;
            opacity: 20%;
        }
    }

    @media screen and (min-width: 1000px){
        .introduction-bottom-blue{
            height: 25vh;
            width: 150vw;
            left: -10vh;
            background-color: #1D86FF;
            position: absolute;
            bottom: -15rem;
            z-index: 1;
            transform: rotate(-5deg);
        }
    }
    @media screen and (min-width: 1200px){
        .introduction-bottom-blue{
            bottom: -11rem;
        }
    }

    @media screen and (min-width: 1150px){
        .headshot{
            right: -10vw;
        }
    }

    @media screen and (min-width: 1450px){
        .headshot{
            right: 5vw;
        }
        .introduction-message{
            margin-left: 15vw;
        }
    }

    @media screen and (max-width: 1000px){
        .headshot {
            display: none;
        }
    }


    & .introduction-message .introduction-heading{
        margin: 0em 0em 3.5em 0em;

        .introduction-message__line1 {
            font-weight: 400;
        }
        
        .introduction-message__name {
            font-size: 30px;
            font-weight: 800;
            margin: .3em 0em;
        }

        .introduction-message__name span {
            font-size: 18px;
            font-weight: 300;
        }
        
        .introduction-message__job-title{
            font-weight: 400;
        }
    }
    
    .introduction-message__about-me {
        font-size: 18px;
        font-weight: 400;
        line-height: 2em;
    }
}

@media (min-width: 1200px){
    .introduction-container{
        height: 100vh;
    }
}