@import '../../../scss/abstracts/colors';
@import '../../../scss/abstracts/fonts';

.college-logo {
    width: 90px;
    height: auto;
    margin-bottom: 30px;
}


.college-class-container{
    width: 80vw;
}

.degree-year-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    line-height: 25px;
    margin-bottom: 3rem;

    & .degree-heading, 
    & .year-heading {
        font-weight: $med-weight;
    }
}

@media screen and (min-width: 800px){
    .college-logo{
        width: 150px;
        margin-bottom: 3rem;
    }
    .degree-year-container{
        line-height: 33px;
    }
    .degree-heading,
    .year-heading {
        font-size: $md-txt;
    }
    .degree-name,
    .year {
        font-size: $sm-txt;
    }
    .college-class-container{
        margin-top: 3rem;
        width: 70vw;
    }
}