
@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/fonts';


.imageRightContainer {
    flex-wrap: wrap;
    min-width: 300px;
}

@media (min-width: 700px) {
    .imageRightContainer {
        margin-bottom: 3rem;
    }
}
