@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/fonts';

.header-links-container {
    display: none;

    & a {
        text-decoration: none;
        color: $light;
        font-size: $md-txt;
        font-weight: $med-weight;
    }
}

.header-link {
    color: $light;
    font-size: $md-txt;
    font-weight: $med-weight;
    text-decoration: none;
}

.header-link:hover {
    color: $off-white;
}
@media (max-width: 999px){
    .header-links-container a {
        text-decoration: none;
        color: $light;
        font-size: $md-txt;
        font-weight: $med-weight;
        transform: translateX(100%);
        transition: all .7s ease-in;
    }
}
@media (min-width: 1000px) {
    .header-links-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
}

.slideIn a{
    transform: translateY(0%);
}