@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/fonts';

.header-links-container {
    display: none;

    & a {
        text-decoration: none;
        color: $light;
        font-size: $md-txt;
        font-weight: $med-weight;
    }

   
}

.header-link {
    color: $light;
    font-size: $md-txt;
    font-weight: $med-weight;
    text-decoration: none;

  /*   &::after{   //SLIDING BOTTOM LINE ANIMATION UNDER LINKS
        content: '';
        display: block;
        height: 3px;
        background-color: $light;
        position: absolute;
        bottom: 0;
        width: 0%;
        transition: all ease-in-out 500ms;
        }

        &:hover::after{
            width: 100%;
        } */
}

.header-link:hover {
    color: $off-white;
}

@media (max-width: 999px){
    .header-links-container a {
        text-decoration: none;
        color: $light;
        font-size: $md-txt;
        font-weight: $med-weight;
        transform: translateX(100%);
        transition: all .7s ease-in;
    }
}
@media (min-width: 1000px) {
    .header-links-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
}

.slideIn a{
    transform: translateY(0%);
}