@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/fonts';


.introduction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.introduction-heading {
  margin-bottom: 3rem;
}

  .introduction-message {
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }
  
  .introduction-message__name {
    font-size: $xl-txt;
    font-weight: $heavy-weight;
    color: $dark;
  }
  
  .introduction-message__job-title {
    font-size: $xl-txt;
    font-weight: $light-weight;
    color: $dark;
  }
  
  .introduction-message__welcome {
    font-size: $lg-txt;
    font-weight: $extra-light;
    line-height: 1.5em;
    margin-bottom: 2rem;
  }



  @media (max-width: 1000px) {
    .circle {
      display: none;
    }
    .heroImg {
      display: none;
    }
  }