@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/fonts';


.contact-container {   
    background-color: $primary;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $light;
    padding-bottom: 5rem;

    & .contact-title {
        font-weight: $heavy-weight;
        font-size: $lg-txt;
        margin: 3rem 0rem;
    }

    & .contact-information-container{
        line-height: 40px;
    }

    & .contact-weblinks {
        display: flex;
        justify-content: space-between;
    }

    & .contact-weblinks a {
        color: $light;
    }

    @media screen and (min-width: 800px){
    .contact-title {
        font-size: $xl-txt;
        margin-bottom: 5rem;
    }
    }
}

@media screen and (min-width: 800px){
    .contact-information-container{
        width: 80vw;
    }
    .email-phone-container{
        display: flex;
        justify-content: space-between;
    }
    .contact-title {
        font-size: $xl-txt;
    }
}

@media screen and (min-width: 1000px){
    .contact-information-container{
        width: 80vw;
        font-size: $sm-txt;
    }
}

@media screen and (min-width: 1200px){
    .contact-information-container{
        width: 700px;
    }
}
