@import '../../../scss/abstracts/colors';
@import '../../../scss/abstracts/fonts';

.udemy-class-container {
    margin-bottom: 4rem;
    z-index: 1;
    width: 80vw;

   & .udemy-logo {
        width: 90px;
        height: auto;
        margin-bottom: 30px;
    }
    
    & .instructor-course-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        line-height: 25px;
        width: 100%;
    
        & .instructor-heading, 
        & .course-heading {
            font-weight: $med-weight;
        }

        & .instructor-name, 
        .course-name, 
        .year{
            font-size: $sm-txt;
        }
    }
    
   
   
    @media screen and (min-width: 800px){
        .instructor-course-container{
            grid-template-columns: repeat(3, 1fr);
            max-width: 70vw;
            line-height: 33px;
        }
        .instructor-course-sectionOne,
        .instructor-course-sectionTwo,
        .instructor-course-sectionThree {
            width: 400px;
        }
        
        .instructor-course-sectionTwo .course-name{
            width: 300px;
        }
        .instructor-heading,
        .course-heading,
        .year-heading {
            font-size: $md-txt;
            font-weight: $med-weight;
        }
        .instructor-name, 
        .course-name, 
        .year{
            font-size: $sm-txt;
        }
    }

    @media screen and (min-width:1300px){
        .instructor-course-sectionOne,
        .instructor-course-sectionTwo,
        .instructor-course-sectionThree {
            width: 500px;
        }
    }

    @media screen and (max-width: 1100px){
        .instructor-course-sectionThree{
            display: none;
        }
    }
}

