@import '../../../scss/abstracts/colors';
@import '../../../scss/abstracts/fonts';

.udemy-class-container {
    margin-bottom: 2rem;
    z-index: 1;
    
   & .udemy-logo {
        width: 90px;
        margin-bottom: 2rem;
    }
    
    & .instructor-course-container {
        
        & .instructor-heading, 
        & .course-heading, 
        & .year-heading {
            margin-bottom: .2rem;
            font-weight: $med-weight;
        }

        & .instructor-name, 
        .course-name, 
        .year{
            font-size: $sm-txt;
            margin-bottom: .4rem;
        }

        .instructor-course-sectionTwo .course-name{
            width: 300px;
        }
    }
    
   
   
    @media screen and (min-width: 800px){
        .instructor-course-container{    
            line-height: 33px;
        }
       
        .instructor-heading,
        .course-heading,
        .year-heading {
            font-size: $md-txt;
            font-weight: $med-weight;
        }
        .instructor-name, 
        .course-name, 
        .year{
            font-size: $sm-txt;
        }
    }

    @media screen and (min-width: 1000px){
        .udemy-class-container {
            margin-bottom: 0rem 0rem;
            z-index: 1;
        }
    }

}

