.project-body-styling{
    background-color: #1D86FF;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .project-container-title{
        font-size: 30px;
        font-weight: 900;
        color: #363636;
        margin-top: 1rem;
        margin-bottom: 9.5rem;
        z-index: 5;
    }

    & .oval{
        width: 38.75rem;
        height: 17rem;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        transform: rotate(-25deg);
    }

    & .oval-one{
        top: -9.38rem;
        left: -6.25rem;
    }
    
    & .oval-two {
        bottom: -9.38rem;
        left: -6.25rem;
    }
}



