@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/fonts';


.aboutMeImg {
    position: absolute;
    top: -10rem;
    right: 4rem;
}

.about-me-container {
    max-width: 600px;
}

.about-me-content {
    justify-content: space-between;
    width: 1200px;
}

@media (max-width: 800px){
    .image-container {
        display: none;
    }
}